
@{
    ViewBag.Title = "Regular Pong";
}

@section scripts{
    <script src="~/Scripts/pong/regularPong.js"></script>
}
<div>Current FPS: <span id="fps"></span></div>
<div>Possible FPS: <span id="possibleFps"></span></div>
<canvas id="regularPongCanvas" width="600" height="400">Please use html5 supporting browser</canvas>

